/*---Подключение шрифтов--*/

@import url("assets/css/dispatcher.min.css");

/*---Переменные START---*/

$maxWidthContainer: 1170px;
$maxWidthHull: 1720px;

$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1600px;

$OnestLight: 'Onest Light' sans-serif;
$OnestMedia: 'Onest Media' sans-serif;
$OnestRegular: 'Onest Regular' sans-serif;
$MonumentRegular: 'Monument Regular' sans-serif;

$text-color: #b7b6b6;

/*---Переменные END---*/

.about {
	padding: 0 10px 0 10px;
}
.about-background {
	height: 100%;
}

.about-background__svg {
	width: 100%;
	height: 100%;
	background: url(../img/background-page-about.svg);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} 

.sliders {
	max-width: 1170px;
	margin: 0 0 50px 0;

	@media (max-width: $screen-md) {
		margin: 0 0 25px 0;
	}
}
.swiper-container {
}
.sliders__container {
}
.swiper-wrapper {
}
.slider {
	max-width: 1170px;
	max-height: 480px;	

	@media (max-width: $screen-sm) {
		min-height: 248px;
	}
}
.swiper-slide {
}

.slider__image-overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 86.87%);
    z-index: 1;
}
.slider__image {
	height: 480px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (max-width: $screen-md) {
		height: 248px;
		padding: 0 0 50% 0;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
   			height: 100%;
   			object-fit: cover;
    		position: absolute;
    		left: 0;
    		top: 0;
		}
	}


}
.slider__title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0 0 40px 75px;

	p {
		font-family: $OnestRegular;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		color: white;
	}

	@media (max-width: $screen-md) {

		padding: 0 0 20px 25px;

		p {
		 	font-weight: 500;
			font-size: 13.4182px;
			line-height: 100%;
		}
	}
}

.slider-button {
	position: absolute;
	z-index: 3;
	top: 50%;
	margin-top: -25px;
	left: 0;
	width: 100%;

	@media (max-width: $screen-md) {
		position: relative;
		margin: 14px 0 0 0;
	}
}

.slider-button__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $screen-md) {
		justify-content: center;
	}
}

.button-next {
	cursor: pointer;
	margin: 0 15px 0 0;


	img:hover {
		transition: transform 0.3s ease;
		transform: scale(1.1);
	}

	@media (max-width: $screen-md) {
		width: 36px;
		height: 36px;
		margin: 0 0 0 15px;
		-webkit-tap-highlight-color: transparent;
		img {
		width: 34px;
		height: 34px;
		}
	}
}

.button-prev {
	cursor: pointer;
	margin: 0 0 0 15px;

	img:hover {
		transition: transform 0.3s ease;
		transform: scale(1.1);
	}

	@media (max-width: $screen-md) {
		margin: 0 15px 0 0;
		width: 36px;
		height: 36px;
		-webkit-tap-highlight-color: transparent;
		img {
		width: 34px;
		height: 34px;
		}
	}
}

.about-block {
	margin: 0px auto;
}

.about-block__container {
	max-width: 628px;
}
.about-block__title {
	padding: 0 0 11px 0;
	display: flex;
	align-items: center;

	h1 {
		font-family: $MonumentRegular;
		font-weight: 700;
		font-size: 36px;
		line-height: 126.5%;
		text-transform: uppercase;
		background: linear-gradient(95.34deg, #F8F8F8 24.04%, rgba(239, 239, 239, 0.84) 82.81%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 4.06593px 20.3297px rgba(0, 0, 0, 0.35);
		padding: 0 30px 0 0;
	}

	@media (max-width: $screen-md) {
		padding: 0 0 7px 0;
		h1 {
			font-size: 28px;
			line-height: 98%;
		}
	}
}

.about-block__line {
	height: 1px;
	background: linear-gradient(to right, white, transparent);
	width: 60%;

	@media (max-width: $screen-md) {
		width: 40%;
	}
}

.about-block__text {
	margin: 0 0 82px 0;

	p {
		font-family: $OnestRegular;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: #FFFFFF;
		padding: 0 0 15px 0;
	}

	@media (max-width: $screen-md) {
		margin: 0 0 180px 0;
		p {
			font-size: 13px;
			line-height: 150%;
			color: $text-color;
		}
	}
}