/*---Подключение шрифтов--*/

@import url("assets/css/dispatcher.min.css");

/*---Переменные START---*/

$maxWidthContainer: 1170px;
$maxWidthHull: 1720px;

$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1600px;

$OnestLight: 'Onest Light' sans-serif;
$OnestMedia: 'Onest Media' sans-serif;
$OnestRegular: 'Onest Regular' sans-serif;
$MonumentRegular: 'Monument Regular' sans-serif;

$text-color: #b7b6b6;

/*---Переменные END---*/

.main-page {

}

.main-background {
	height: 100%;
}

.main-background__svg {
	width: 100%;
	height: 100%;
	background: url(../img/background-main-page.svg);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.name-company {


}
.name-company__container {	

	max-width: 975px;
	margin: 0px auto;

	h1 {
		font-family: $MonumentRegular;
		font-weight: 700;
		font-size: 170px;
		line-height: 126.5%;
		text-transform: uppercase;
		background: linear-gradient(182.71deg, #FFFFFF 10.81%, rgba(122, 122, 122, 0.84) 93.53%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-shadow: 0px 20px 100px rgba(0, 0, 0, 0.35);
		text-align: center;

		@media (max-width: $screen-lg) {
			font-size: 150px;
		}

		@media (max-width: $screen-md) {
			font-size: 75px;
		}
	}
}

.name-company__web {
	@media (max-width: $screen-lg) {
		margin: 0 0 30px 0;
	}
}


	.project-button {
		display: none;

		@media (max-width: $screen-md) {
			display: block;
			-webkit-tap-highlight-color: transparent;
		}
	}
		
	.project-button__container {
		max-width: 125px;
		height: 41px;
		margin: 0px auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/background-button.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		-webkit-tap-highlight-color: transparent;

		p {
			font-family: $OnestRegular;
			font-size: 16px;
			line-height: 20px;
			background: linear-gradient(93.51deg, #B0B0B0 4.5%, #F1F1F1 58.75%, #B5B5B5 116.5%), #FFFFFF;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}




	